<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cards for <%= repo %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css">
  <style>
    .card-deck .card {
       max-width: calc(33% - 30px);
    }
</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-deck">
        <% cards.each_slice(3) do |slice| %>
          <% slice.each do |card| %>
          <div class="card">
            <div class="card-header">
              <%= repo.split('/')[-1] %>
            </div>
            <div class="card-body">
              <h4 class="card-title"><span class="font-weight-bold">#<%= card[:number] %></span> <%= card[:title] %></h4>
              <% if card[:milestone] %>
              <h6 class="text-secondary"><span class="octicon octicon-milestone" aria-hidden="true"></span><%= card[:milestone] %></h6>
              <br />
              <% end %>
              <% if card[:labels].length > 0 %>
              <h6 class="text-secondary">Labels:</h6>
              <div class="small text-secondary test-lowercase">
                <% for label in card[:labels] %>
                <%= label[:name] %><br />
                <% end %>
              </div>
              <% end %>
            </div>
            <div class="card-footer small text-secondary">
              Created by: <%= card[:created_by] %><br />
              <%= card[:created_at].strftime("at %F") %>
            </div>
          </div>
          <% end %>
          <div class="w-100 py-2"></div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
